<div class="container fadeInFast">
  <div *ngIf="data.action === 'upload'">
    <div class="row align-items-center mb-3">
      <h6 class="col-auto">You are about to upload {{firebaseStorageService.fileName}}</h6>
    </div>
    <div class="row justify-content-between align-items-center">
      <button mat-stroked-button class="col-auto btn btn-outline-danger" (click)="close('cancel')">Cancel</button>
      <button mat-stroked-button class="col-auto btn btn-outline-primary" (click)="close('success')">Upload</button>
    </div>
  </div>
  <div *ngIf="data.action === 'delete-file'">
    <div class="row align-items-center mb-1">
      <h6 class="col-auto">Are you sure you want to delete the file?</h6>
    </div>
    <p class="mb-3">
      <small>
        <strong>{{data.file._location.path}}</strong>
      </small>
    </p>
    <div class="row justify-content-between align-items-center">
      <button mat-stroked-button class="col-auto btn btn-outline-primary" (click)="close('cancel')">Cancel</button>
      <button mat-stroked-button class="col-auto btn btn-outline-danger" (click)="close('success')">Delete</button>
    </div>
  </div>
</div>